---
import Layout from "../../layouts/Layout.astro";
import Simplepricing from "../../components/pricing/Simplepricing.astro";
import TogglePricing from "../../components/pricing/TogglePricing.astro";
---

<Layout>
    <div class="container mx-auto px-4 py-12">
        <Simplepricing />
        <TogglePricing />
    </div>
</Layout>
