---
import Layout from "../../layouts/Layout.astro";
import SimpleFooter from "../../components/footer/SimpleFooter.jsx";
import Footer1 from "../../components/footer/Footer1.jsx";
import Footer2 from "../../components/footer/Footer2.jsx";
import Footer3 from "../../components/footer/Footer3.jsx";
import Footer4 from "../../components/footer/Footer4.jsx";
---

<Layout>
  <div class="my-12">
    <SimpleFooter />
  </div>
  <div class="my-12">
    <Footer1 />
  </div>
  <div class="my-12">
    <Footer2 />
  </div>
  <div class="my-12">
    <Footer3 />
  </div>
  <div class="my-12">
    <Footer4 />
  </div>
</Layout>
